{
  "*": "biome check --write --no-errors-on-unmatched",
  "*.{json,ts,tsx,md,mdx,yaml,yml,sql}": [
    "prettier --write"
  ],
  "apps/api/src/**/*.ts": [
    "pnpm openapi",
    "git add openapi.json"
  ]
}
